<div class="alert">
    <table class="table table-bordered alert alert-warning">
        <thead>
            <tr scope="row" class="text-center">
            <td colspan="3" style="font-weight:bold; font-size: 18px;">CARRITO </td></tr>
            <td style="font-size:15px ; font-weight: bold; color: black; text-align: center ;">NOMBRE</td>
            <td style="font-size:15px ; font-weight: bold; color: black; text-align: center ;">PRECIO</td>
            <td style="font-size:15px ; font-weight: bold; color: black; text-align: center ;">CANTIDAD</td>
        </thead>
        <Tbody>
            {% if request.session.carrito.items%}
                {%for key,value in request.session.carrito.items%}
                <tr>
                    <td style="font-size: 13px;">{{value.nombre}}</td>
                    <td style="font-size: 13px;">{{value.precio}}</td>
                    <td style="font-size: 13px;">{{value.cantidad}}
                        <br>
                        <a href='{%url "agregar" value.id_producto%}' class="badge btn btn-primary">+</a>
                        <a href='{%url "restar" value.id_producto%}' class="badge btn btn-warning">-</a>
                    </td>
            </tr>
            <tr>
                <th scope="row">Total:</th>
                <th colspan="2">${{value.total}}</th>
            </tr>
            {%endfor%}
        {%else%}
        <tr>
            <td colspan="3">
                <div class="alert alert-info text-center" style="font-weight: bold;">Sin productos</div>
            </td>
        </tr>
            {%endif%}
        </Tbody>
    </table>
    <hr>
</div>
<div class="row text-center">
    <div class="col-6">
        <a href='{%url "limpiar"%}' class="btn-outline-warning">Limpiar</a>
    </div>
    <div class="col-6">
        <a href='{%url "generarBoleta"%}' class="btn-outline-primary">Comprar</a>
    </div>
</div>