{%extends "../base.html"%}
{%block content%}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src='{% static "assets/js/bootstrap/bootstrap.bundle.min.js" %}'></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Vehiculos</title>
</head>
<body>
    <div class="container">
        <h3>Detalle de Compra </h3><br><h6>Fecha: {{ fecha }}</h6>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Código Boleta</th>
                    <th>Código Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in productos%}
                <tr>
                    <td>{{ prod.id_boleta}}</td>
                    <td>{{ prod.id_producto}}</td>
                    <td>{{ prod.cantidad}}</td>
                    <td>{{ prod.subtotal}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <hr>
            <tr><td><h6>Total Compra: {{ total}}</h6></td>
            </tr>
        </table>
    </div>
</body>
</html>
{% endblock %}