<header>
    {% load static %}
    <link rel=" stylesheet" type="text/css" href='{% static "CSS/nav.css" %}'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid f-c">
            <img class="animate__animated animate__bounce" src='{% static "imagen/rasho.png" %}' alt="10" width="50" height="30">
            <a class="navbar-brand" href='{% static "index.php" %}'>TALLER MECANICO RAYO MCQUEEN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="css-est-bus"><input name="search" placeholder="Buscador" type="text" class="css-search"
                        value="">
                    <button class="css-btnbus" type="button">
                        <svg class="css-btncaja" width="1em" height="1em" viewBox="0 0 24 24">
                            <path fill="white"
                                d="m20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8a7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42ZM5 11a6 6 0 1 1 6 6a6 6 0 0 1-6-6Z">
                            </path>
                        </svg>
                    </button>
                </div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ul-enlances">
                    <li class="nav-item">
                        <a class="nav-link css-nav" href='{% static "equipo.html" %}'>EQUIPO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link css-nav" href='{% static "marcas.html" %}'>MARCAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link css-nav" href="#">AYUDA AL CLIENTE</a>
                    </li>
                </ul>
                <div class="dropdown navbar-nav me-auto mb-2 mb-lg-0">
                    <button class="css-nav dropdown-toggle dropdownp" type="button" data-bs-toggle="dropdown">
                        <span>
                            <svg class="css-menu-int" focusable="false" aria-hidden="true"
                                data-testid="AccountCircleIcon">
                                <path
                                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z">
                                </path>
                            </svg></span>
                        <p class="css-menu-caja">PERFIL</p><svg class="css-menu-int" focusable="false"
                            aria-hidden="true">
                        </svg><span class="css-w0pj6f"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item dropdown_sub css-nav" href='{% static "inis.html" %}'>INICIAR SESIÓN</a></li>
                        <li><a class="dropdown-item dropdown_sub css-nav" href='{% static "regis.html" %}'>REGISTRARSE</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown navbar-nav me-auto mb-2 mb-lg-0">
                    <button class="css-nav dropdown-toggle dropdownp" type="button" data-bs-toggle="dropdown">
                        <p class="css-menu-caja">TRABAJOS</p><svg class="css-menu-int" focusable="false"
                            aria-hidden="true"></svg>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item dropdown_sub css-nav" href='{% static "frenos.html" %}'>FRENOS</a></li>
                        <li><a class="dropdown-item dropdown_sub css-nav" href='{% static "otros.html" %}'>OTROS TRABAJOS</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>